.container {
    position: absolute;
    top: 192px;
    right: -66px;
    display: flex;
    flex-direction: column;
    padding: 12.4px;
    width: 186px;
    border-radius: 6.2px;
    background-color: var( --color-white-text);
}

.container p {
    margin-bottom: 10px;
    line-height: 21.86px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-medium);
}

.container span {
    margin-bottom: 5px;
    color: var( --color-gray-text);
    line-height: 13.66px;
    font-size: var(--font-size-semi-small);
}

.progress-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1px;
    list-style: none;
}

.progress-bar li {
    border-bottom: 4.13px solid #008616;
}

.progress-bar li:first-child {
    border-radius: 15.5px 0 0 15.5px;
}

.progress-bar li:nth-child(2) {
    border-bottom: 6.2px solid #008616;

}