.wrapper {
    position: relative;
    height: 200vh; /* чем выше значение, тем дольше будет прокручиваться карусель */

}

.carousel {
    position: sticky;
    top: 0;
    display: flex; 
    align-items: center;
    height: 90vh;
}

.inner {
    display: flex;
    transition: 0.3s linear;
}

.inner > div:not(:last-child) {
    margin-right: 20px;
}
