.button {
    cursor: pointer;
    font-family: var(--font-family-primary);

}

.Primary {
max-width: 150px;
height: 45px;
width: 100%;
background: var(--color-purple-700);
color: var(--constant-white);
border-radius: 58px;
border: none;
font-weight: 500;
font-size: 18px;

}

.Tertiary {
    max-width: 100px;
    height: 45px;
    width: 100%;
    border: none;
    background: transparent;
    color: var(--color-purple-700);
    font-size: 16px;
    font-weight: 600;
}



