.wrapper {
    max-width: 408px;
}

.form-wrapper {
    margin-bottom: 40px;
}

.input-wrapper {
    position: relative;

}

.input-wrapper:not(:last-of-type) {
    margin-bottom: 36px;
}

.label {
    display: block;
    margin-bottom: 8px;
}

.input {
    position: relative;
    margin-bottom: 6px;
    padding-left: 20px;
    border-radius: 68px;
    background-color: var(--background-zero);
}

.error {
    position: absolute;
    user-select: none;
    color: var(--color-red-600);
    font-size: var(--font-size-medium-small);
}

.link {
    display: flex;
    justify-content: flex-end;
}

.input > span:hover {
    cursor: pointer;;
}

.submit-button {
    margin-bottom: 20px;
    width: 100%;
}