.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    text-align: center;
    max-width: 816px;
    width: 100%;
}

.description h2 {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: 60px;
    line-height: 75px;
    color: var(--color-black-text);
}

.description p {
    font-family: var(--font-family-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--color-black-text);
}

.usersContainer{
margin-top: 45px;
width: 100%;
display: grid;
gap: 20px;
grid-template-areas: 
'block1 block3'
'block2 block3' 
;
grid-template-columns: 1fr 336px;
grid-template-rows: 194px 194px;
}

.usersFirstBlock {
    display: grid;
    gap: 20px;
    grid-area: block1;
grid-template-columns: 332px 244px 244px;
}

.usersSecondBlock {
    display: grid;
    gap: 20px;
    grid-area: block2;
grid-template-columns: 244px 332px 244px;
}

.usersThirdBlock {
    display: grid;
    grid-area: block3;
}

