.wrapper {
    display: flex;
    flex-basis: 58%;
    flex-direction: column;
    padding-left: 123px;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
}

.title {
    margin-bottom: 31px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-small-title);
}