.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:70px;
    padding-right: 16px;
    padding-left: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 408px;
    height: 51px;
    border-radius: 20px;
    background-color: var(--color-label-bg);
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-small);
}